@import url(https://fonts.googleapis.com/css?family=Roboto:300);

/* App.css */

/* Global Styles */
body {
  background-color: #F4EEE1;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Main Container */
.large-box {
  display: flex;
  flex-direction: column;
  background-color: #E4DAC2;
  padding: 20px;
  border-radius: 10px;
  margin: 50px auto;
  max-width: 800px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: #9C8F7D;
}

.user-name {
  font-size: 25px;
  border-radius: 4px;
  border-color: #f7f7f7;
}

.add-class-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  margin: 8px 8px 8px 0px;
  font-size: 15px;
}

.add-class-button:hover {
  background-color: #0056b3;
}

.course-container {
  background-color: #D8C8A7;
  border-radius: 4px;
}

.class-name {
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 10px;
}

/* Course Styles */
.course {
  background-color: #ffffff;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

.section {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.section-input,
.weight-input,
.grades-input {
  flex: 1;
  margin-right: 10px;
  margin-left: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-section-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  margin: 10px;
}

.add-section-button:hover {
  background-color: #0056b3;
}
/* Final Grade Styles */
.final-grade {
  margin-left: 10px;;
  padding-bottom: 10px;
  font-weight: bold;
}

/* Submit Button Styles */
.submit-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

.submit-button:hover {
  background-color: #218838;
}
