@import url(https://fonts.googleapis.com/css?family=Roboto:300);

 body {
  display: flex;
  justify-content: center;
  background: #a5b2c1;
}
.large-box{
  min-height: 100px;
  overflow: hidden;
  padding: 50px;
  margin:50px;
  background-color:white;
  border-radius: 4px;
}
.title{
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  color: #666161;
  text-shadow: 1px 1px black;
  margin-bottom:10px;
}
.add-class-container{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom:10px;
}

.add-class-button{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block; 
  margin: 10px;
  font-size: 20px;
  cursor:pointer;
}

.add-class-button:hover{
  background-color: #96b3d5;
  color:white;
}
.add-class-text{
  display: inline-block; 
  color: #666161;
  text-shadow: 1px 1px black;
  font-size: 20px;
}
.class-container {
  background-color: #CED9E5; /* Add a background color to .class-container for visibility */
  padding:10px;
  border-radius: 4px;
}
.submit-button {
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 20px;
  margin-top:10px;
}

.newForm {
  width: 250px;
  height: 600px;
  background-color: #a5b2c1;
  display: inline-block;
  position: relative;
  z-index: 2; 
  margin: 10px;
  border-radius: 15px;
}

.newForm .input-div {
  display: flex; /* Use flexbox to make the inputs appear side by side */
  width: 200px;
  margin: 10px;
}

.newForm .class-name {
  height: 30px;
  width: 210px;
  border-radius: 4px;
  font-size: 15px;
  margin: 10px;
  border: 1px solid #ccc;
}

.newForm .add-section-button {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  margin-left: 10px;
}

.newForm .section-name {
  height: 27px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 10px;
}

.newForm .input-div .section-weight,
.newForm .input-div .section-grades {
  flex: 1; /* To distribute space evenly between the inputs */
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  margin-right: 5px; /* Add some spacing between the inputs */
}

.newForm .input-div .section-weight {
  width: 41px;
}

.newForm .input-div .section-grades {
  width: 150px;
}

